<h2>Register</h2>
<form ng-submit="addStudent()">
  <label for="rollno">Roll Number:</label>
  <input type="text" id="rollno" ng-model="rollno" placeholder="Enter Roll Number">
  
  <label for="email">Email ID:</label>
  <input type="email" id="email" ng-model="email" placeholder="Enter Email ID">
  
  <label for="name">Name:</label>
  <input type="text" id="name" ng-model="name" placeholder="Enter Name">
  
  <label for="password">Password:</label>
  <input type="password" id="password" ng-model="password" placeholder="Enter Password">
  
  <button type="submit">Add Student</button>
</form>
